/* 
    Document   : filtres
    Created on : 9 oct. 2013, 10:27:08
    Author     : Florian Ajir
    Description:
        Feuille de style des filtres.
*/

.demi select[multiple], .demi filtre.select[size] {
    width: 220px;
}
#filtreCriteres{
    padding-left: 5px;
}
#filtreCriteres label{
    padding-top: 5px;
}
#filtreForm .applyFilter, .filtreOn {
    cursor: pointer;
}
#filtreCriteres .minifiltre{
    height: 20px;
    width: 20px;
    vertical-align: top;
    padding: 5px;
}
.filtreFonc img{
    height: 28px;
    width: 28px;
}
#boutonBasculeCriteres{
    cursor: pointer;
}