@CHARSET "UTF-8";

/*  ----------------- modifs mel -------------------------- */
body {
    margin: 0;
    position: relative;
    background: #fff url(../../../img/grid-18px-masked.png) repeat-x 0 40px;
}

#footer {
    margin-top: 60px;
    height: 10px;
    text-align: center;
    border-top: 1px solid #999;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 2;
    overflow:hidden
}

#user {
	text-align: right;
	height: 23px;
	margin-top: 0;
	padding-right: 10px;
	padding-bottom: 5px;
	background-color: transparent;
        border-bottom: 1px solid #888888;
}

#formatEdition {
    /*font: normal normal 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
	font-weight: bold;
        text-align: right;
        height: 23px;
        margin-top: 0;
        padding-right: 10px;
        background-color: transparent;
}


#user a {
	text-decoration: none;
}

.user {
	font-weight: normal;
}

#centre {
	min-height: 400px;
	padding: 0 75px 15px 75px;
}

/*th {
	padding: 0 5px 5px 5px;
	border: 1px solid #cccccc;
	background-color: #ccc;*/
	/*font: normal normal 14px/17px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/
//}

/*table tr td {
	border: 1px solid #cccccc;
	padding: 4px 4px 4px 4px ;*/
	/*vertical-align: top;*/
	/*text-align: left;*/
   /* font-size: 0.8em;
}

table.table_action {
	margin: 0 0 10px 20px;
	white-space: normal;
	border: 0;
}

table.table_action tr td {
	border: 0;
	padding: 10px 10px 4px 10px;
	vertical-align: top;
	text-align: left;
}

td.actions {
	padding: 0 0 15px 0;
	min-height: 25px;
    vertical-align: middle;
    text-align: center;
}

td.ordre a {
	text-decoration: none;
}*/

a.link_tablet, a.link_tablet:hover {
    background-image: url(../../../img/icons/tablet.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 10px 22px;
    text-decoration: none;
}


a.link_bool_0, a.link_bool_0:hover {
    background-image: url(../../../img/icons/false.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 10px 22px;
    text-decoration: none;
}
a.link_bool_1, a.link_bool_1:hover {
    background-image: url(../../../img/icons/true.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_liste, a.link_liste:hover {
	background-image: url(../../../img/icons/liste.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 10px 22px;
    text-decoration: none;
}
a.link_clore_seance, a.link_clore_seance:hover {
    background-image: url(../../../img/icons/close_seance.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_delib {
	background-image: url(../../../img/icons/delib.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 3px 0 10px 22px;
}

a.link_pvcomplet, a.link_pvcomplet:hover {
	background-image: url(../../../img/icons/pvcomplet.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_pvsommaire, a.link_pvsommaire:hover {
	background-image: url(../../../img/icons/message.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}
a.link_signer, a.link_signer:hover {
    background-image: url(../../../img/icons/signer.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_sendtoged, a.link_sendtoged:hover {
    background-image: url(../../../img/icons/archiver.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_tdt, a.link_tdt:hover {
    background-image: url(../../../img/icons/tdt.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_tdt_transmit, a.link_tdt_transmit:hover {
    background-image: url(../../../img/icons/tdt_transmit.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_pdf ,a.link_pdf:hover {
	background-image: url(../../../img/icons/acroread.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_ordre_jour, a.link_ordre_jour:hover {
	background-image: url(../../../img/icons/ordre_jour.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
        text-decoration: none;
}
a.link_ordre_jour_unique, a.link_ordre_jour_unique:hover {
    background-image: url(../../../img/icons/ordre_jour2.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_lister_presents {
	background-image: url(../../../img/icons/present.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 10px 22px;
}

a.link_voter, a.link_voter:hover {
	background-image: url(../../../img/icons/vote.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}
a.link_classer_odj, a.link_classer_odj:hover {
    background-image: url(../../../img/icons/odj.png);
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 0 32px 32px;
    text-decoration: none;
}
a.link_debat, a.link_debat:hover {
	background-image: url(../../../img/icons/saisir.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_commentaire_seance, a.link_commentaire_seance:hover {
	background-image: url(../../../img/icons/paper.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_secretaire, a.link_secretaire:hover {
	background-image: url(../../../img/icons/secretaire.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_voir, a.link_voir:hover {
	background-image: url(../../../img/icons/find.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_modifier, a.link_modifier:hover {
	background-image: url(../../../img/icons/klpq.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_modifier_back,a.link_modifier_back:hover {
	background-image: url(../../../img/icons/klpq-back.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_modifier_left {
	background-image: url(../../../img/icons/klpq.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0 0 10px 22px;
}

a.link_supprimer, a.link_supprimer:hover {
	background-image: url(../../../img/icons/edittrash.png);
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 0 32px 32px;
}

a.link_supprimer_back, a.link_supprimer_back:hover {
	background-image: url(../../../img/icons/edittrash-back.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 38px 38px;
    text-decoration: none;
}

a.link_circuit, a.link_circuit:hover {
	background-image: url(../../../img/icons/reload.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 38px 38px;
    text-decoration: none;
}

a.link_projet,a.link_projet:hover {
	background-image: url(../../../img/icons/projet.png);
	background-repeat: no-repeat;
	background-position: top left ;
	padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_synthese,a.link_synthese:hover {
	background-image: url(../../../img/icons/synthese.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_deliberation,a.link_deliberation:hover {
	background-image: url(../../../img/icons/delibe.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_add,a.link_add:hover {
	background-image: url(../../../img/icons/edit_add.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_traiter, a.link_traiter:hover {
	background-image: url(../../../img/icons/traiter.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 32px 32px;
    text-decoration: none;
}
a.link_validerenurgence, a.link_validerenurgence:hover {
/*      background-image: url(../../../img/icons/valider.png); */
    background-image: url(../../../img/icons/apply.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 0 32px 32px;
    text-decoration: none;
}
a.link_addUsers {
	background-image: url(../../../img/icons/identity.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
}

a.link_convocation, a.link_convocation:hover {
	background-image: url(../../../img/icons/mail.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 32px 32px;
    text-decoration: none;
}
a.link_convocation_unique, a.link_convocation_unique:hover {
    background-image: url(../../../img/icons/mail2.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_convocation_anonyme {
	background-image: url(../../../img/icons/queue.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 0 0 10px 22px;
}

a.link_jump, a.link_jump:hover {
    background-image: url(../../../img/icons/jump.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_monter, a.link_monter:hover {
	background-image: url(../../../img/icons/monter.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_descendre, a.link_descendre:hover {
	background-image: url(../../../img/icons/descendre.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
    text-decoration: none;
}

a.link_triasc {
	background-image: url(../../../img/icons/tri_asc.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 0 6px 0 6px;
}

a.link_tridesc {
	background-image: url(../../../img/icons/tri_desc.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 0 6px 0 6px;
}

a.link_calendar {
	background-image: url(../../../img/calendar.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 10px 22px;
}

a.link_mdp, a.link_mdp:hover {
	background-image: url(../../../img/icons/mdp.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 32px 32px;
            text-decoration: none;
}

a.link_annuler_sans_border {
	background-image: url(../../../img/icons/back.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 25px;
	padding-bottom: 10px;
}

a.link_inserer_logo, a.link_inserer_logo:hover {
	background-image: url(../../../img/icons/insert_logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-left: 25px;
	padding-bottom: 10px;
    text-decoration: none;
}

a.link_param_mail {
    background-image: url(../../../img/icons/param_mails.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 25px;
    padding-bottom: 10px;
}

a.link_annexe {
	background-image: url(../../../img/icons/bookmark.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 4px 4px 4px 25px;
}

a.link_donnerAvis, a.link_donnerAvis:hover {
	background-image: url(../../../img/icons/apply.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0 0 32px 32px;
    text-decoration: none;
}

a.link_actes, a.link_actes:hover {
    background-image: url(../../../img/icons/actes.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 0 0 10px 22px;
    text-decoration: none;
}

.bt_save {
	background-image: url(../../../img/icons/filesave.png);
	background-repeat: no-repeat;
	border: none;
	width: 22px;
	height: 22px;
}

#deliberation {
	background-color: #EAEFCE;
}

.close {
    text-align: right;
}

.actions {
    text-align: center;
}

.imbrique {
	min-height: 70px;
}

.gauche {
	float: left;
	width: 50%;
}

.droite {
	float: right;
	width: 50%;
}
.demi {
	float:left;
	width: 49.99%;
}
.tiers {
	float:left;
	width: 33.33%;
}
.deuxtiers {
	float:left;
	width: 66.66%;
}
.spacer {
	clear: both;
	height: 10px;
}

#vue_cadre{
    padding-bottom: 10px;
    background-color: #fafafa;
    outline: 1px solid #ccc;
    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.7);

}
#vue_cadre h2, #vue_cadre h3{
    text-align: center;
    font-variant:small-caps;
    border-bottom: 2px solid #DDD;
    background-color: #f0f0f0;
    font-weight: bold;
    margin-bottom: 10px;
}
#vue_cadre h3 {
    font-size: 18px;
    border-top: 2px solid #DDD;
}

#vue_cadre dt{
	margin: 5px 20px 0 20px;
	padding: 2px 0 0 20px;
	border-top: 1px solid #FFFFFF;
	/*border-right: 1px solid #FFFFFF;*/
	text-decoration: underline;
}

#vue_cadre dd{
	padding: 5px 0 15px 30px;
	/*text-indent: 3%;*/
}

#vue_cadre dd.compact{
	padding: 5px 0 0 30px;
	text-indent: 3%;
}

ul.actions, .actions ul {
    margin-top: 10px;
	list-style: none;
}
.actions.btn-group>.btn {
    float: none;
    margin-left: -4px;
    margin-bottom: 10px;
}

div.traiterActions {
    text-align: center;
}

#actions_fiche {
	text-align: left;
}
#actions_fiche .btn {
    margin-bottom: 10px;
}

#actions_fiche li {
	display: inline;
}

/*  ----------------- end modifs mel -------------------------- */

.message {
	height: 50px;
	padding-left: 20px;
	font: normal small-caps 20px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #CCCC33;
}

/* Mise en forme du tableau des droits */
/* Tableau */
table#tableDroits {
	border-collapse: separate;
}
#tableDroits th {
	border: 1px solid Black;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	background-color: #f4f4f4;
}
#tableDroits td {
	border: 1px solid Black;
	border-top: 0;
	padding-left: 10px;
	padding-right: 10px;
}
#tableDroits tr {
	background: transparent;
}
#tableDroits tr.ligneProfil {
	background-color: #DFEE8F;
}
#tableDroits tr.altLigneProfil {
	background-color: #CFF358;
}
#tableDroits tr.ligneUtilisateur {
	background-color: #E8E8E8;
}
#tableDroits tr.altLigneUtilisateur {
	background-color: #D9D9D9;
}
#tableDroits img {
	border: 0;
}
/* Fin mise en forme du tableau des droits */
table#retour {
    border: 0;
}

#retour td {
    border: 0;
    text-align: center;
}
#retour tr {
    border: 0;
}
/*----------------- Affichage des annexes dans l'edition des deliberations */
div.annexesGauche {
	float: left;
	width: 130px;
}
div.annexesDroite {
	float: left;
}
div.fckEditorProjet {
	float: left;
	width: 80%;
	padding: 2px;
    text-indent: 0;
}

/* Mise en forme des onglets */
.onglet {
    background : #f8fddd;
	border-bottom:  3px solid #e0ef90;
	margin-top: 5px;
	margin-bottom: 20px;
}
.onglet a{
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
}
.onglet a.ongletCourant{
        font-size: 1.1em;
	font-weight: bold;
	background: #fff;
	padding-bottom: 4px;
	border-left:  1px solid #c3d078;
	border-top:  2px solid #c3d078;
	border-right:  6px solid #c3d078;
}

fieldset#info {
    padding: 10px;
    background : #f8fddd;
    border-top:    2px solid #c3d078;
    border-right:  2px solid #c3d078;
    border-bottom: 1px solid #c3d078;
    border-left: 1px solid #c3d078;
}

#buttons {
   text-decoration: none;
}

.paginate {
	margin-top: 20px;
}

/********************************** Filtre *******************************/
#filtreForm div {
    margin-bottom: 0;
}

div.filtre {
    margin: 0;
}
div.filtreFonc {
    float: left;
    width: 10%;
    min-width: 84px;
    margin: 0;
    margin-bottom: 10px;
}
div.filtreCriteres {
  float: right;
  background: #ddd;
  width: 88%;
  margin: 0;
  border: 1px solid grey;
}
/********************************** Fin Filtre *******************************/

tr.altrow {
    background: #d5d5d5;
}
tr.aSupprimer {
    background: red;
}
tr.aModifier {
    background: orange;
}
div.action {
	padding:5px;
	border-top: 1px solid #e0ef90;
	height: 25px;
}
div.aSupprimer {
    background: red;
}
div.aModifier {
    background: orange;
}

/* mise en forme des div ouvrables */

.ouvrable {
    margin-bottom : 15px;
}
.ouvrable-entete img {
    padding-right : 10px;
}
.ouvrable-corps {
    overflow: auto;
    padding: 5px;
}

#seances, #emetteur, #circuit, #acteur, #etat, #description, #limite, #classification, #theme, #objet, #nature {
    margin:  1px;
    padding: 1px;
    width:   180px;
    display: block;
    border:  2px outset black;
}

input[type="file"]{width: auto}

.nomcourante {
    color: white;
    background-color: black;
}

/* Deliberations/index */
#actions_bottom label{
    float: none;
    display: inline;
}
#actions_bottom #btn_executer{
    margin-left: 5px;
    margin-top: -10px;
}
#actions_bottom {
    margin-top: 18px;
    text-align: center;
}

#connecteurIparapheur div.input.radio fieldset label { text-align: left; padding-left: 5px; width:auto;}
#connecteurIparapheur div.input.radio { padding-left: 0; }
#connecteurIparapheur div.input.radio input[type="radio"]{margin-left: 25px;}

#InsertRebondForm label{
    width: 150px;
    margin-right: 10px;
}
#tableDroits td.td-droit label{
    float: none;
    text-align: left;
    font-size: 1em;
    width: auto;
}
#tableDroits td.td-droit.niveau0 label{
    font-weight: bold;
}
#tableDroits td.td-droit.niveau0{
    padding-left: 10px;
}
#tableDroits td.td-droit.niveau1{
    padding-left: 25px;
}
table.table-projets-seance tr td{
    vertical-align: middle;
}
table.table-projets-seance tr td select{
    margin-bottom: 0;
    width: auto;
    max-width: 220px;
}
table.table-projets-seance tr td:first-child{
    text-align: center;
}
div#connecteurIparapheur input[type='text']{
    width: 500px;
}

/* ----------- modif marine ----------- */
acronym, abbr {
	color : red;
}

.pave {
	width: 80%;
	height:100%;
}

#add_form label {
color:#696969;
float: left;
	width: 100%;
	text-align: right;
}
a.list_form  {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px black dashed;
}

a:hover.list_form  {
  text-decoration: none;
  border-bottom: 1px black solid;
}

table.sample {
	border: 1px solid #cccccc;
	font-size: 1em;
	width:80%;
}

table.sample tr td {
	border: 0;
	padding: 9px 9px 4px 9px ;
	vertical-align: top;
	text-align: left;
}

#attribute_list a {
  text-align: left;
  font-size: 12px;
  text-decoration: none;
}

#attribute_list a:hover {
  text-align: left;
  font-size: 12px;
  text-decoration: solid;
}
/* --------- fin modif marine --------- */

legend {
	/*font-style: italic;*/
	/*font-weight: bold;*/
}

.Border {
	background-color:#e0ef90;
	}

/*label {
	float: left;
	padding: 0 .5em 0 0;
	text-align: right;
	width: 100px;
}*/

#password label{
        width: 250px;
}

#conteneur {
/*	position: absolute; */
	width: 100%;
	height:100%;
}

#tableau_bord {
	padding-left: 20px;
}

#titre_page {
	font-size: 16px;
	font-weight: bold;
	color: #286971;
	margin-bottom: 15px;
}

#fiche {
	border: 1px dotted #ccc;
	width: 50%;
	padding: 10px;
}

#label_fiche {
	font-weight: bold;
}

#bouton_action ul {
	margin: 0;
	padding: 0;
}

#bouton_action li {
	display: inline;
	padding: 5px;
	border: 2px solid #69c;
}

#bouton_action a {
	color: #69c;
	text-decoration: none;
}

.button {
	height: 31px;
	border: 2px solid #69c;
	font-size: 14px;
	color: #69c;
	font-weight: normal;
	cursor: pointer;
	background-color: #fff;
}

.error-message {
	color: #f00;
	/*background-color: #fff;*/
	background-color: transparent;
    margin: 0;
    margin-left: 110px;
    font-weight: bold;
    text-align: left;
}

.centre {
	text-align: center;
}


/*  ----------------- Calendar ------------------------ */
caption.month {font-size: 180%;color: #444444;}
table.month {border: thin groove #800080}
.normal {}
.today {border: solid 1px;}
.seance {border: solid 1px; background-color: #e0ef90;}
/*  ----------------- end of Calendar -------------------------- */
#annexeModalBloc div.input.file label,
#annexeModalBloc div.input.text label {
    line-height: 28px;
}

#annexeModalBloc div.input.checkbox {
    margin-left: 110px;
}
#classif1{
    cursor: pointer;
    background-color: #ffffff;
}
.delibRattachee{
    margin-bottom: 25px;
}

#TypeacteEditForm .input.file,
#TypeacteAddForm .input.file,
#TypeacteEditForm label,
#TypeacteAddForm label
{
    line-height: 30px;
}
#vue_cadre h2 .label{
    font-size: 15px;
}

ul.dropdown-menu li a{
    cursor: pointer;
}
/* Modifications bootstrap */
.btn-group + .btn-group {
    margin-left: 20px;
}



/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* fix firefox responsive images */
.img-responsive {
    width: 100%
}

