/* 
    Document   : filtres
    Created on : 9 oct. 2013, 10:27:08
    Author     : Florian Ajir
    Description:
        Feuille de style des filtres.
*/

.demi select[multiple], .demi filtre.select[size] {
    width: 220px;
}
#filtreCriteres{
    padding-left: 5px;
}