#boutons_action {
    float: left;
    margin-left: 20px;
}

#boutons_action .btn {
    float: left;
    margin-right: 5px;
}

#search_bloc {
    width: auto;
    float: left;
}

#search_tree_button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}