/* 
    Document   : attendable
    Created on : 4 oct. 2013, 16:56:11
    Author     : fajir
    Description:
        Style necessaire pour le plugin js attendable.
*/

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: lightgrey;
    opacity: .50;
    filter: Alpha(Opacity=50); /* For IE8 and earlier */
    z-index: 1500;
}

div#modalAttendable{
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -155px;
    margin-top: -49px;
    background-color: #fff;
    border: 2px solid grey;
    border-radius: 5px 5px 5px 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px 6px #ccc;
    z-index: 2000;
    min-width: 310px;
}