label{
    float: none;
    padding: 0;
    text-align: left;
    width: auto;
}
#configSignature fieldset, #configTdt fieldset{
    width: 33%;
    float: left;
}

/* Vue connecteurs.ctp */
table#connecteurs{
    border: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, Tahoma, Verdana, Sans-Serif;
}
#connecteurs td{
    /*border-style: none;*/
    vertical-align: middle;
    /*border-right: 0;*/
    padding: 10px;
}
#connecteurs th{
    /*text-align: center;*/
    padding: 5px 5px 5px 10px;
}

#connecteurs td.actions{
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border-left: 0;
    width: 100px;
}
#connecteurs td.actions.btn-group .btn{
    margin-bottom: 0;
}