/*
    Document   : global.css
    Created on : 4 oct. 2013, 16:47:57
    Author     : Florian Ajir
    Description:
        Feuille de style webdelib destinée à être chargée après les autres feuilles de style (bootstrap,...)
*/

/* Ecrase les valeurs bootstrap (fix hauteur attendable overlay) */

body{
    margin-left: 0;
    margin-right: 0;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 80px;
}

/* fix le décalage entre les checkboxes */
div.input.checkbox label{
    float: none;
    text-align: left;
    width: auto;
}

#logo{
     float: left;
}

.navbar-fixed-top{
    position: fixed;
}

.no-width-limit{
    width: auto;
}

label { /* TODO préciser quels labels */
    /*line-height: 28px;*/
}

div.input.file{
    margin-bottom: 5px;
}

legend{
    /*margin-bottom: 10px;*/
}

.sans-arrondi {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.btn-group.centre>.btn{
    float: none;
}
#waiter{
    text-align: center;
}

.colonne_checkbox{
    width: 15px;
}

table.table-middle td, table.table-middle th{
    vertical-align: middle;
}

#selectTypeseances,
#selectDatesSeances{
    margin-bottom: 10px;
}

#selectTypeseances label,
#selectDatesSeances label{
    width: auto;
    float:none;
    text-align: left;
}

#DeliberationEditForm #tab1 div.gauche,
#DeliberationAddForm #tab1 div.gauche,
#DeliberationEditForm #tab1 div.droite,
#DeliberationAddForm #tab1 div.droite,
{
    padding:10px;
}
#DeliberationEditForm #tab1 div.gauche input[type='text'],
#DeliberationAddForm #tab1 div.gauche input[type='text']
{
    width: 286px;
}

#DeliberationEditForm #tab1 div.gauche select,
#DeliberationAddForm #tab1 div.gauche select{
    width: 300px;
}

#DeliberationEditForm #tab1 div.gauche textarea,
#DeliberationAddForm #tab1 div.gauche textarea{
    min-width: 286px;
    max-width: 80%;
}
input#classif1{
    width: 286px;
}
input[type='text'].editAnnexeTitre{
    margin: 0;
    font-size: 0.9em;
    height: 12px;
    width: 90%;
}