@CHARSET "UTF-8";

.ok {
 /*   border: solid 1px */; 
    background: #DFF0D8  url(../img/ok.png) 100% 50% no-repeat;
    padding: 0.5em 1em 0.5em 0;
}

.ko {
/*    border: solid 1px;*/
    background: #F2DEDE url(../img/ko.png) 100% 50% no-repeat;
    padding: 0.5em 1em 0.5em 0;
}
.info {
    background: #D9EDF7  url(../img/info.png) 100% 50% no-repeat;
    padding: 0.5em 1em 0.5em 0;
}
#headerLogoContainer {
/*    padding: 5px 20px;*/
    padding-right: 58em;
}
ul {
padding: 0px 30px;
}
